<div class="container m-10 hidden">
  <h1 class="font-bold text-xl">Assignment 1: Practicing Component</h1>
  <div>
    <ol class="list-decimal ml-10">
    <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
    <li>Output them beneath each other in the AppComponent</li>
    <li>Output a warning or success message in the Components</li>
    <li>Style the Components appropriately (maybe some red/ green text?)</li>
  </ol>
  </div>
  <div>
    <p>Use external or internal templates and styles!</p>
    <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
  </div>
</div>


<app-success-alert class="hidden"/>
<app-warning-alert class="hidden"/>


<app-servers/>
